<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'dashboard:landing_page' %}">Lil' Bank</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'dashboard:landing_page' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'dashboard:about_page' %}">About</a></li>
                {% if user.is_authenticated %}
               <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownTransactions" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Transactions</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="{#% url 'accounts:transactions' %#}">Transaction List</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:balance' %}">View Balance</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:deposit' %}">Deposit Money</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:withdraw' %}">Withdraw Money</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownAccounts" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account Services</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="{% url 'accounts:create_account' %}">Open New Account</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:view_account' %}">View Account</a></li>
                        <li><a class="dropdown-item" href="{#% url 'accounts:modify_account' %#}">Modify Account</a></li>
                        <li><a class="dropdown-item" href="{#% url 'accounts:delete_account' %#}">Close Account</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Log In</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
