<header class="py-5">
  <div class="container px-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xxl-6">
        <div class="text-center my-5">
          <h1 class="fw-bolder mb-3">This page is under construction.</h1>
          <p class="lead fw-normal text-muted mb-4">Please check back in at a later stage.</p>
          <a class="btn btn-primary btn-lg" href="{% url 'dashboard:landing_page' %}">Back to Home.</a>
        </div>
      </div>
    </div>
  </div>
</header>
