{% extends 'base.html' %}
{% block header %}
{% load humanize %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Account Balance</h1>
                    <p class="lead fw-normal text-white-50 mb-4">What's your situation like?</p>
                </div>
            </div>
            <div
            class="col-xl-5 col-xxl-6 d-none d-xl-block text-center text-white"
            ><h1>&#x20b9; {{ account.balance|floatformat:2|intcomma }}</h1></div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">"Price is what you pay; Value is what you get."</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                        <div class="fw-bold">
                            Warren Buffett
                            <span class="fw-bold text-primary mx-1">/</span>
                            Berkshire Hathaway
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}