{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <h1 class="fw-bolder">Transaction History</h1>
    <p class="lead fw-normal text-muted mb-0">Current cash: {{ account.balance }}</p>
    <table border="1px" width="100%">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        {% if transaction.withdrawal %}
                            Withdrawal
                        {% else %}
                            Deposit
                        {% endif %}
                    </td>
                    <td>{{ transaction.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}