{% extends 'base.html' %}
{% block header %}
{% load static %}
<header class="bg-dark py-5">    
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Lil' Bank</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Because we care when the world don't.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">        
                <div class="slider">
                    <img src="{% static 'image1' %}" id="slider-image">
                </div>
                <link rel="stylesheet" type="text/css" href="{% static 'slider.css' %}">
                <script src="{% static 'slider.js' %}"></script>
            </div>

        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to start investing.</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h5">Minimal charge on withdrawals.</h2>
                        <p class="mb-0">We don't overcharge on our withdrawals.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h5">High Yield Savings Accounts.</h2>
                        <p class="mb-0">Our return rates are unmatched.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Say hello to modern banking.</h2>
                        <p class="mb-0">Fully fleshed out digital presence. Laptop, Mobile, Smart Fridge? We've got you covered.</p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">We care.</h2>
                        <p class="mb-0">Ever went to a bank and had to wait in line only to return without getting your task done? We bet you can't relate to those experiences with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'testimonial.html' %}
{% endblock content %}