{% extends 'base.html' %}
{% block content %}
<style>
    h1{
        text-align: center;
        font-size: 1cm;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgb(33, 37, 41);
        align-items: center;
        color: white;
        font-weight: bolder;
    }
    table{
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
        border-collapse: collapse;
        background-color: rgb(33, 37, 41);
        font-size: 0.7cm;
        color: white;
    }
    button{
        margin-left: 50%;
        margin-right: auto;
        background-color: rgb(33, 37, 41);
        color: white;
        border: 1px solid black;
        border-radius: 30px;
        font-size: 0.43cm;
        font-family: 'Courier New', Courier, monospace;
    }
    p{
        text-align: center;
        font-size: 0.5cm;
        font-family: 'Courier New', Courier, monospace;
        align-items: center;
        color: black;
        font-weight: bolder;
    }
</style>
<body>
    <h1>Log in</h1>
    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p></p>
        <button type="submit">Log in</button>
    </form>
    <p></p>
    <br>
    <br>
    <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a></p>
    <p>Click <a href="{% url 'dashboard:landing_page' %}">here</a> to go back to homepage.</p>
</body>
{% endblock content %}