{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed!</title>
</head>
<body>
    <style>
        table, th, td {
            border: 1px black;
            padding: 15px;
        }
    </style>
    <div style="text-align: center; margin-top: 13%; margin-left: 10%; margin-right: 10%; border: 3px solid black; padding: 10px; border-radius: 30px;">
    <h1 style="font-size: 0.5cm; color: red; padding: 15px; font-weight: bolder;">You are not an user.</h1>
    <h1 style="font-size: 0.5cm; color: red; padding: 15px; font-weight: bolder;">Please sign up first or enter the correct username and password.</h1>
    <br>

    <center>
    <table>
        <tr> 
            <td><a href="{% url 'accounts:signup' %}" style="font-size: 0.5cm; border: 1px solid black; border-radius: 5px; background-color: rgb(33, 103, 223); padding: 10px; text-decoration: none; color: azure;">Sign up</a></td>
            <td><a href="{% url 'accounts:login' %}" style="font-size: 0.5cm; border: 1px solid black; border-radius: 5px; background-color: rgb(33, 103, 223); padding: 10px; text-decoration: none; color: azure;">Back to Login</a></td>
        </tr>
    </table>
    </center>
    </div>
</body>
</html></h1>
{% endblock content %}