{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Login</h1>
                <p class="lead fw-normal text-muted mb-0">Welcome back to Lil' Bank!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form id="contactForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label>Username</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group mb-3">
                            <label>Password</label>
                            {{ form.password }}
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Create Account</button></div>
                    </form>
                    <p class="text-muted mb-0">Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}