{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Sign up right now!</h1>
                <p class="lead fw-normal text-muted mb-0">We'd love to have you onboard</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form id="contactForm" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group mb-3">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in field.errors %}
                                {{ error }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <br>
                        <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                    </form>
                    <p class="text-muted mb-0">Already have an account? Log in <a href="{% url 'accounts:login' %}">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
