{% extends 'base.html' %}
{% block content %}
<style>
    table{
        font-size: x-large;
    }
</style>
<body>
    <table>
        <tr>
            <td>Username</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>{{ customer.first_name }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ customer.last_name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>{{ customer.phone }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ customer.address }}</td>
        </tr>
    </table>
    
</body>
{% endblock content %}