{% extends "base.html" %}
{% load static %}
{% block title %}Account Details{% endblock %}
{% block content %}
<style>
    table{
        font-size: x-large;
        border: 2px solid black;
        margin-left: 5%;
        margin-right: auto;
        text-align: center;
    }
    td,th,tr{
        border: 3px solid black;
        font-weight: 500;
    }
    table, th, td {
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    tr{
        background-color: rgb(248, 170, 255);
    }
    h1{
        text-align: center;
        font-family: Arial;
        font-size: 1cm;
        color: black;
        font-weight: 700;
    }
</style>
<body>
    <br>
    <h1> {{customer.first_name}}'s Page</h1>
    <table style="float: left;">
        <tr>
            <td colspan="2">Your Details</td>
        </tr>
        <tr>
            <td>Username</td>
            <td style="color: black;">{{ user.username }}</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td style="color: black;">{{ customer.first_name }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td style="color: black;">{{ customer.last_name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td style="color: black;">{{ user.email }}</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td style="color: black;">{{ customer.phone }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td style="color: black;">{{ customer.address }}</td>
        </tr>
    </table>
</body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">         
                <h1>Account Details</h1>                
                <table class="table table-striped">             
                    <tr>        
                        <th>Account Number</th>             
                        <th>Balance</th>            
                        <th>Type</th>           
                        <th>Owner ID</th>           
                        <th>Close Account</th>          
                    </tr>   
                    {% for i in listRes %}                  
                    <tr>        
                        <td><a href="{% url 'accounts:transaction_detail' pk=i.0 %}">{{i.0}}</a></td>          
                        <td>{{ i.1 }}</td>              
                        <td>{{ i.2 }}</td>              
                        <td>{{ i.3 }}</td>          
                        <td><a href="{% url 'accounts:delete_account' i.0 %}">Close Account</a></td>                    
                    </tr>   
                    {% endfor %}            
                </table>        
            </div>      
        </div>      
    </div>
    <h2><a href="{% url 'dashboard:landing_page' %}" style="float:inherit; font-family: Arial; font-size: 0.5cm; background-color: black; border: 2px solid black;">To Homepage </a> </h2>         
{% endblock %}
